<div class="card d-flex justify-content-center pt-3" style="width: 15rem" (click)="onCardCLick();">
    <img [src]="burger()?.burgerImage" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">{{burger()?.name}}</h5>
        <p class="card-text">{{burger()?.price | currency: 'CAD' : 'symbol-narrow' }}
        </p>
        @if (!count) {
        <button type="button" class="btn btn-outline-warning" (click)="onAddToCart();">Add to Cart</button>
        }@else {
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning" (click)="onCountDecrement()">-</button>
            <button type="button" class="btn btn-warning">{{count}}</button>
            <button type="button" class="btn btn-warning" (click)="onCountIncrement()">+</button>
        </div>
        }
    </div>
</div>